<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297772266143-55q9kr5fjmnv37qsegs92iobmoq5kq6g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297772266143-55q9kr5fjmnv37qsegs92iobmoq5kq6g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>297772266143-nfmn5t5ud5iqo45nkrbao5v3im81jd15.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD6Yxy-zWznm1l-bjrBjbKJLNVHUuCHM6A</string>
	<key>GCM_SENDER_ID</key>
	<string>297772266143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hgp.foodApp</string>
	<key>PROJECT_ID</key>
	<string>food-app-f2990</string>
	<key>STORAGE_BUCKET</key>
	<string>food-app-f2990.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297772266143:ios:6888e52800cf5bd6</string>
	<key>DATABASE_URL</key>
	<string>https://food-app-f2990.firebaseio.com</string>
</dict>
</plist>